.auth-wrapper {
    height: 100vh;
    background: linear-gradient(
        to left,
        rgba($accent-color, 0.2),
        rgba($accent-color, 0.2),
    ),
    url('../../assets/img/3048193.jpg') center bottom no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    overflow: auto;
    position: relative;
    @media (min-width: 1920px) {
        align-items: center;
    }
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(104, 104, 104);
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
.auth-box {
    width: 800px;
    max-width: 90%;
    margin: 30px auto;
    padding: 50px;
    @include media-md {
        padding: 15px;
    }
    // background: lighten($light-grey, $amount: 100);
    background: rgba(255, 255, 255, 0.07058823529411765);
    .form-field  {
        .form-field__label {
            color: #fff;
        }
        .form-field__control {
            background: rgba($secondary-color, $alpha: 0.10000);
            border: 1px solid #5f949e;
            color: $text-color;
        }
    }
}
.auth-footer {
    background: rgba(0, 51, 66, 0.5882352941176471);
    padding: 24px 50px;
    margin: 0 -50px;
    margin-bottom: -50px;
    @include media-md {
        margin: -15px;
        padding: 15px;
        .accent-button-rounded {
            width: 100%;
        }
    }
}